# Ignoruj pliki środowiskowe
.env
.env.local
.env.*.local

# Ignoruj pliki Pythona
__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Ignoruj katalog wirtualnego środowiska Pythona
venv/
env/
.venv/
ENV/

# Ignoruj IDE/Edytory
.idea/
.vscode/
*.swp
*.swo


# Ignoruj zależności Pythona
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

