body {
    background-color: #efe4b0;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h1 {
    color: #483dff;
    text-align: center;
}
.button-container {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 15vw;
}
.button {
    width: 100%;
    padding: 1vh;
    background-color: gray;
    border: 0.2vw solid black;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.5vh;
}
.sidebar {
    position:relative;
    left: 1vw;
    top: 12vh;
    width: 15vw;
    background-color: lightgray;
    padding: 1vh;
    border: 0.2vw solid black;
    text-align: left;
}
.game-container {
    text-align: center;
    margin-top: 5vh;
}
.play-button {
    display: block;
    width: 40vw;
    padding: 5vh;
    background-color: #009cff;
    color: black;
    font-size: 4vw;
    font-weight: bold;
    border: 0.2vw solid black;
    margin: 5vh auto;
}
.small-button {
    display: inline-block;
    width: 15vw;
    padding: 2vh;
    background-color: #009cff;
    border: 0.2vw solid black;
    margin: 2vh;
}