{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muzyczne VaBank</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <div class="button-container">
        <a href=""><div class="button">Dodaj Konto</div></a>
        <a href=""><div class="button">Utwórz Konto</div></a>
        <a href=""><div class="button">Wyloguj  Konto</div></a>
    </div>
    <h1>Muzyczne VaBank</h1>
    <div class="sidebar">
        <b>Zalogowani Użytkownicy</b>
        <ul>
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
        </ul>
    </div>
    <div class="game-container">
        <a href=""> <div class="play-button">GRAJ</div></a> 
        <div>
            <a href=""> <div class="small-button">Ustawienia</div></a>
            <a href=""><div class="small-button">Statystyki</div></a>
        </div>
    </div>
</body>
</html>
