{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Statystyki</title>
</head>
<body>
    <h1>Statystyki Graczy</h1>
    <table border="1">
        <tr>
            <th>Nazwa Użytkownika</th>
            <th>Rozegrane Gry</th>
            <th>Wygrane Gry</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.games_played }}</td>
            <td>{{ user.games_won }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Powrót</a>
</body>
</html>
